/* styles.css */

.container {
  width: 100%;
  padding: 24px 32px;
  text-align: center;
  min-height: 100vh;
}

.main_div {
  width: 100%;
  padding: 24px 32px;
  text-align: center;
  background-color: #f0f0f0;
}
.heading {
  font-size: 32px;
  line-height: 48px;
  font-weight: normal;
  color: #3c1e55;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.input_group {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.input {
  width: 100%;
  padding: 12px;
  background-color: #f7f7f7;
  border-radius: 8px;
  border: 1px solid #cccccc;
  outline: none;
}

.textarea {
  width: 100%;
  padding: 12px;
  background-color: #f7f7f7;
  border-radius: 8px;
  border: 1px solid #cccccc;
  outline: none;
}

.message_label {
  font-size: 14px;
  line-height: 15px;
  font-weight: normal;
  color: #292222;
}

.submit_button {
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  padding: 12px;
  border-radius: 8px;
  background-color: #ffca00;
  color: #292222;
  outline: none;
  border: none;
}

.main_text {
  color: #ffca00;
  font-size: 60px;
  line-height: 64px;
  font-weight: 400;
}

.paragraphText {
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  margin-top: 4rem;
  width: 100%;
}
